Package: me.snajdovski
Name: customcarrier
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Stefan Najdovski
Author: Stefan Najdovski
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
